.Search_container{
    background: url('https://i.ibb.co/WBQ6RwV/s-4-2-2048x.jpg')no-repeat fixed top center;
    background: cover;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}

.Search_container::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.678);
}

.search-div {
    position: relative;
    z-index: 999 !important;
    width: 100%;
}

.search-div {
    position: relative;
    z-index: 999 !important;
    width: 100%;
    display: flex;
    justify-content: center;
}

.search-div {
    position: relative;
    z-index: 999 !important;
    display: flex;
    justify-content: center;
    width: 472px;
}

.search-div input {
    width: 100%;
    border: none;
    background: none;
    color: #ffffffad !important;
    outline: none;
    font-family: 'Spartan';
}

.search-div {
    position: relative;
    z-index: 9 !important;
    display: flex;
    justify-content: center;
    width: 472px;
    border: 1px solid #dddddd85;
    padding: 11px;
    border-radius: 41px;
}

.search-div button {
    background: none;
    outline: none;
    border: none;
    color: #dddddda1;
}

.search-div input::placeholder{
    font-size: 13px;
    color: #dddddd85;
}



@media only screen and (max-width: 990px)  {
    .search-div {
    position: relative;
    z-index: 999 !important;
    display: flex;
    justify-content: center;
    width: 331px;
    border: 1px solid #dddddd85;
    padding: 11px;
    border-radius: 41px;
}
}


.no-match h1 {
    font-size: 60px;
    position: relative;
    z-index: 9 !important;
    color: #ffffff6b;
    font-family: 'Poppins';
    font-weight: 700;
}