
  .video-of-overly {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.713);
    z-index: 888;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.subscribe__content {
    display: flex;
    justify-content: space-between;
    width: 460px;
    background: none;
}

.subscribe__content input::placeholder{
    color: aliceblue;
    font-size: 12px;
}
.subscribe__content input {
    width: 100%;
    background: none;
    border: none;
    outline: none;
    color: #FFFF;
    font-size: 13px;
    font-family: 'Spartan';
}

.subscribe__content button {
    background: none;
    border: none;
    color: #fffd;
}

.subscribe__content {
    display: flex;
    justify-content: space-between;
    width: 460px;
    background: none;
    border: 1px solid #DDD;
    padding: 12px;
    border-radius: 62px;
}

.video-of-overly h1 {
    font-family: 'Spartan';
    text-transform: inherit;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: rgb(240 248 255);
    line-height: 3rem;
}


@media only screen and (max-width: 990px)  {
    .video-of-overly h1 {
      font-family: 'Spartan';
      text-transform: inherit;
      font-weight: 400;
      font-size: 15px;
      text-align: center;
      color: rgb(240 248 255);
      line-height: 3rem;
  }
  .subscribe__content {
    display: flex;
    justify-content: space-between;
    width: 330px;
    background: none;
    border: 1px solid #DDD;
    padding: 12px;
    border-radius: 62px;
}
}