/* .first-img{
    background: url(../../image/h1-slider-1.jpg)no-repeat ;
    background-position: top center;
    background-size: cover;
    
  }
  .second-img{
    background: no-repeat ;
    background-position: top center;
    background-size: contain;
   
  }
  .third-img{
    background: url(https://i.ibb.co/Y2H9Ltz/galaxy-s22-ultra-highlights-kv-img.png)no-repeat ;
    background-position: right;
    background-size: contain;
  
  }
  .four-img{
    background: url(../../image/image.png)no-repeat ;
    background-position: top center;
    background-size: cover;
  
  } */

  /* .otherBg{
    background: url(../../image/pexels-andrea-piacquadio-919436.jpg)no-repeat ;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  .need-padding-for-product {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.need-padding-for-product img {
    padding-bottom: 15vh;
}

.dummy-text h1 {
    font-size: 72px;
}
.dummy-text p {
    margin-top: 25px;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Lora';
    color: rgb(113, 113, 113);
    text-align: center;
}
    */

@media only screen and (max-width: 990px)  {
    .dummy-text {
        text-align: center;
        width: 95%;
        margin: 14vh 0;
    }
    .menuBurger {
        width: 3vmax;
        height: 4.5vmax !important;
        position: fixed;
        top: 1vmax;
        left: 2vmax;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        padding: 1vmax;
        overflow: hidden;
        z-index: 9999999999999999999 !important;
    }
}

 .otherBg{
    background:linear-gradient(rgba(0, 0, 0, 0.665),rgba(0, 0, 0, 0.624)), url(https://i.ibb.co/WBQ6RwV/s-4-2-2048x.jpg)no-repeat ;
    background-position: top center;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }


  .otherBg button {
    font-size: 13px;
    margin-top: 11px;
    padding: 17px 77px;
    background: #fff0;
    border: 1px solid #d5cdcd70;;
    color: #d1d1d170;;
    transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.otherBg button:hover{
    font-size: 13px;
    margin-top: 11px;
    padding: 17px 77px;
    background: rgba(255, 255, 255, 0.075);
    border: 1px solid #ddd;
    color: rgb(217 210 210);
    transition: .3s ease-in-out;
}

.dummy-text h1 {
    color: #d5cdcd70;
    font-size: 67px;
    padding-bottom: 16px;
    line-height: 5.4rem;
}

.dummy-text h4 {
    font-family: Sacramento;
    color: #87827F;
    font-size: 50px;
    padding-bottom: 6px;
}

.menuBurgerItem {
    height: .1vmax;
    width: 2.7vmax;
    border-radius: 30px;
    transition: all .4s;
}