.nav1 img::before {
    content: "RSM E-commerce";
    position: absolute;
    top: -17px;
    left: 0;
    width: 100%;
    height: 198%;
    background: rgb(0 0 0) !important;
    opacity: 9999 !important;
    color: #5a5a5a !important;
    font-size: 29px !important;
    font-family: 'Sacramento';
}